<div class="row">
  <div class="twelve columns u-full-width rounded border-light p-2 mb-4 mt-2">
    <div class="justified mt-2 pl-2 pr-2">
      {{ .Site.Params.description | markdownify }}
    </div>

    <div class="tab-content u-text-center justified mt-1 pl-2 pr-2">
      <!-- <h1 class="u-text-center">All the Links!</h1> -->
      <div class="mt-1">
        View by <a href="/">topic breakdown</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns p-2 mt-0">
    <dd>
    {{ $currentDayBucket := "" }}
    {{ $entriesForDay := slice }}

    {{ $totalLength := len .Site.Data.sources }}

    {{ range $index, $element := sort .Site.Data.sources "date" "desc" }}
      {{ if (eq $currentDayBucket "") }}
        {{ $currentDayBucket = .date }}
        {{ $entriesForDay = slice }}
      {{ end }}

      {{ if (ne $currentDayBucket .date) }}
        {{ partial "all_day.html" $entriesForDay }}
        {{ $currentDayBucket = .date }}
        {{ $entriesForDay = slice }}
      {{ end }}

      {{ $entriesForDay = $entriesForDay | append . }}

      {{ if (eq $index (sub $totalLength 1)) }}
        {{ partial "all_day.html" $entriesForDay }}
      {{ end }}
    {{ end }}
    </dd>
  </div>
</div>
<div class="container row">
  <div class="col-md text-center rounded border-light">
    {{ partial "footer.html" . }}
  </div>
</div> 