<head>
  <title>{{ .Site.Params.title }}</title>

  <meta name="theme-color" content="#fff" />
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  {{ $css := resources.Get "css/style.css" }}
  {{ $style := $css | resources.Minify }}
  <link rel="stylesheet" href="css/fontawesome.css" />
  <link rel="stylesheet" href="css/govicons.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>
