<div class="row">
  <div class="five columns u-full-width rounded border-light p-2 mb-4 mt-2">
    {{ partial "profile_photo.html" . }}
    <div class="justified mt-2 pl-2 pr-2">
      {{ .Site.Params.description | markdownify }}
    </div>
  </div>
  <div class="six columns p-2 offset-by-one mt-2">
    {{ range sort .Site.Data.categories.list "title" }}
      {{ partial "topic" (dict "sources" $.Site.Data.sources "category" .) }}
    {{ end }}
  </div>
</div>
<div class="container row">
  <div class="col-md text-center rounded border-light">
    {{ partial "footer.html" . }}
  </div>
</div>
