<div class="row">
  <div class="twelve columns u-full-width rounded border-light p-2 mb-4 mt-2">
    <div class="justified mt-2 pl-2 pr-2">
      {{ .Site.Params.description | markdownify }}
    </div>

    <div class="mt-1">
    Jump to: 
    {{ $all_jump_to_links := slice }}

    {{ range sort .Site.Data.categories.list "title" }}
      {{ if (ne "All" .title) }}
        <a href="/#/{{ .title }}">{{ .title }}</a> &middot;
        {{ $all_jump_to_links = $all_jump_to_links | append .title }}
      {{ end }}
    {{ end }}
    </div>

    <div class="mt-1">
      Or: <a href="/all">view full appearances in chronological order</a>
    </div>
  </div>
  </div>
<div class="row">
  <div class="twelve columns p-2 mt-2">
    {{ range sort .Site.Data.categories.list "title" }}
      {{ partial "topic" (dict "sources" $.Site.Data.sources "category" .) }}
    {{ end }}
  </div>
</div>
<div class="container row">
  <div class="col-md text-center rounded border-light">
    {{ partial "footer.html" . }}
  </div>
</div>
