{{ $category := .category.title }}

<h2 class="accordion w-100 text-primary" id="{{ .title }}">
  <i class="text-primary {{ .category.icon_class }} {{ .category.icon_name }} fa-fw"></i>
  <a href="#{{ .category.title }}">{{ .category.title }}</a>
</h2>

<div class="panel overflow-hidden d-block">
  <dl>
    {{ $all_entries := slice }}

    {{ range .sources }}
      {{ $source := . }}
      {{ range .topics }}
        {{ if in .categories $category }}
           {{ $all_entries = $all_entries | append (dict "date" $source.date "source" $source "category" .) }}
        {{ end }}
     {{ end }}
    {{ end }}

    {{ range sort $all_entries "date" "desc" }}
      <dd class="text-dark mb-0 ml-2">
        {{ .date }} &middot;
        <a class="text-primary" href="{{ .category.direct_link }}">
          <i>{{ .source.title }}</i>
        </a>
      </dd>

      {{ if .pullquote }}
      <dd class="pullquote mt-1 ml-4 mr-4 pl-2 pr-2 pt-1 pb-1">
        <b>"</b><i>{{ .pullquote }}</i><b>"</b>
      </dd>
      {{ end }}

    {{ end }}
  </dl>
</div>
